a {
    &:link,
    &:visited {
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        font-family: 'Techmeleon';
    }
    &.btn {
        cursor: pointer;
        font-size: 1.6rem;
        z-index: 1;
        position: relative;
        display: block;
        &:hover {
            &:after {
                width: 100%;
            }
        }
        transition: 0.5s all;
        width: 15rem;
        height: 4rem;
        margin: 0 auto;
        line-height: 4rem;
        &:after {
            position: absolute;
            height: 100%;
            width: 0;
            top: 0;
            right: 0;
            content: '';
            transition: 0.3s width;
            z-index: -1;
        }
        &.right:after {
            left: 0 !important;
        }
    }
}
