/*     VARIABLES      */

/* ------------------ */

$color-background-dark: #141414;
$color-background-light: white;
$color-text-dark: #141414;
$color-text-light: #e6eeed;
$color-primary-dark: #ff9100;
$color-primary-light: #ff9100;
$color-secondary-dark: #00ffd5;
$color-secondary-light: #00ffd5;
$color-background: $color-background-dark;
$color-text: $color-background-light;
$color-primary: $color-primary-dark;
$color-secondary: $color-secondary-dark;
$color-background-inverse: $color-background-light;
$color-text-inverse: $color-background-dark;
$color-primary-inverse: $color-primary-light;
$color-secondary-inverse: $color-secondary-light;