.page__projects {
    .projects {
        &__title {
            text-align: center;
            max-width: 70rem;
            font-size: 2.5rem;
            line-height: 3.5rem;
            margin: 0 auto;
            margin-top: 10rem;
        }
        width: 100%;
        height: 100%;
        padding: 2rem;
        font-weight: bold;
        &__grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 2px;
            margin-top: 2rem;
            .project:first-child:not(:nth-last-child(1)) {
                display: none;
            }
            @include respond('ipad') {
                grid-template-columns: repeat( auto-fit, minmax(300px, 500px)) !important;
                grid-column-gap: 2px;
                grid-row-gap: 2px;
            }
        }
        &__solution {
            margin-top: 10rem;
            &__name {
                font-size: 2.5rem;
            }
        }
        .project {
            max-width: 500px;
        }
        &__caption {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 4rem;
                height: 2px;
                top: -5px;
                background-color: white;
            }
        }
        &.in-viewport {
            & .project {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }
    @for $i from 1 through 100 {
        .project:nth-child(#{$i}) {
            transition-delay: #{($i * 0.1)}s;
        }
    }
    .project {
        opacity: 0;
        transform: translate(0, 100px);
        transition: all 1s;
        &__container {
            position: relative;
            overflow: hidden;
            transition: all 0.5s;
            height: 100%;
            width: 100%;
            height: 30rem;
            &:hover {
                box-shadow: 1px 1px 10px 2px rgb(153, 153, 153);
                transform: translateY(-3px);
                & .project__link {
                    animation-name: arrowRight;
                }
            }
        }
        &__details {
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        &__title {
            font-size: 5rem;
            font-weight: bold;
            line-height: 5rem;
            max-width: 20rem;
            z-index: 10;
        }
        &__image {
            position: absolute;
            right: -5rem;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            width: 75%;
            z-index: 0;
        }
        &__summary {
            display: flex;
            justify-content: space-between;
            align-content: center;
            z-index: 10;
            font-family: 'Lato', 'Techmeleon';
        }
        &__link {
            animation-name: none;
            animation-duration: 2s;
            animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            font-size: 2rem;
            margin-top: 3px;
        }
        .notice {
            border: 2px solid white;
            padding: 3rem;
            font-size: 2rem;
            font-weight: 300;
            text-align: center;
            font-family: 'Techmeleon';
            color: orange;
            display: flex;
            justify-content: center;
            line-height: 3rem;
            & span {
                max-width: 30rem;
                align-self: center;
                justify-self: center;
            }
        }
    }
}