.solc {
    // Color update here
    $color-background: #86e2d5;
    $color-text: #2b2b2b;
    $color-primary: #86e2d5;
    $color-secondary: #2b2b2b; // Color update ended
    $color-background-inverse: #2b2b2b;
    $color-text-inverse: #86e2d5;
    $color-primary-inverse: white;
    $color-secondary-inverse: white;
    @import 'base';
}
